# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Django
db.sqlite3
staticfiles/

# Environment variables
.env
*.env

# Terraform secrets — never commit these
devops/terraform/terraform.tfvars
devops/terraform/.terraform/
devops/terraform/.terraform.lock.hcl
devops/terraform/terraform.tfstate
devops/terraform/terraform.tfstate.backup


.claude/
.idea/

terraform.tfstate
.terraform.tfstate.lock.info